<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cuit.cloud_netdisk.dao.PermissionMapper">

    <select id="selectPermissionsByRoleId" resultType="java.lang.String">
        SELECT p.permission_name
        FROM permission p
                 INNER JOIN role_permission rp ON p.permission_id = rp.permission_id
        WHERE rp.role_id = #{roleId}
    </select>

    <select id="selectPermissionsByUserId" resultType="java.lang.String">
        SELECT DISTINCT p.permission_name
        FROM permission p
                 INNER JOIN role_permission rp ON p.permission_id = rp.permission_id
                 INNER JOIN user_role ur ON rp.role_id = ur.role_id
        WHERE ur.user_id = #{userId}
    </select>

</mapper>